<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - F4 SHOP</title>
    @* <link rel="stylesheet" href="~/css/styles.css"> *@
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/grid.css">
    <link rel="stylesheet" href="~/css/user.css">
    <link rel="stylesheet" href="~/css/responsives.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="app">
        <header class="header">
            <div class="grid wide">
                <div class="header__text">
                    <div class=" header__text-logo ">
                        <a href="/Home/Index" class=" header_logo-link ">F4 SHOP</a>
                    </div>
                    <h2 class="header__text-name">@ViewData["Title"]</h2>
                </div>
            </div>
        </header>
        <div class="container">
            @RenderBody();
        </div>
        <footer class="footer">
            <div class="grid wide footer__content">
                <div class="row">
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">VanCong Shop Mail</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tuyển dụng </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fab fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class=" footer-item__link">
                                    <i class="footer-item__icon fab fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-linkedin"></i>
                                    Linking
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-6 m-4">
                        <h3 class="footer__heading">Thep dõi khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">F4 Shop Mail</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 c-12 m-4">
                        <h3 class="footer__heading">Vào cửa hàng F4 Shop</h3>
                        <div class="footer__download">
                            <img src="~/img/qr_code.png" alt="" class="footer__download-qr">
                            <div class="footer__download-apps">
                                <a href="#" class="footer__download-apps-link">
                                    <img src="~/img/google_play.png" alt="Google Play"
                                        class="footer__download-apps-img">
                                </a>
                                <a href="#" class="footer__download-apps-link">
                                    <img src="~/img/app-store.png" alt="App Store" class="footer__download-apps-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom">
                    <div class="grid wide">
                        <p class="footer__text">2022 - Bản quyền thuộc về công ty F4 Shop</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>